{% comment %} {% load static %} {% endcomment %}
{% comment %} <aside class="Neshay header">
    <div class="Neshay-Logotype">
    </div>
    <div class="Neshay-Title">
        <input type="image" src="{% static "blog/img/Neshay-ff3.png" %}" class="Neshay-Create-Post-Icon">
    </div>
    <div class="Neshay-Search-Symbol">
        <img src="{% static "blog/img/search.svg" %}" alt="">
    </div>
    <div class="Neshay-Search">
        <input type="text" placeholder="Search" class="Search-bar">
    </div>
    <div class="Neshay-Create-icon">
        <input type="image" src="{% static "blog/img/pen.svg" %}" class="Neshay-Create-Post-Icon">
    </div>
    <div class="Neshay-Top-icon">
        <input type="image" src="{% static "blog/img/fire.svg" %}" class="Neshay-Top-Fire-Icon">
    </div>
    <div class="Neshay-Home-Icon">
        <input type="image" src="{% static "blog/img/home.svg" %}" class="Neshay-Home-House-Icon">
    </div>
    <div class="Neshay-Notification-Icon">
        <input type="image" src="{% static "blog/img/notification.svg" %}" class="Neshay-Notification-Bell-Icon">
    </div>
    <div class="Neshay-Conversation-Icon">
        <input type="image" src="{% static "blog/img/conversation.svg" %}" class="Neshay-Conversation-Dialog-Icon">
    </div>
    <div class="Neshay-Actualization-Icon">
        <input type="image" src="{% static "blog/img/atualization.svg" %}" class="Neshay-Actualization-Notes-Icon">
    </div>
    <div class="Neshay-buttons">
        <input type="button" value="Login" class="Login-btn">
        <input type="button" value="sign" class="Sign-btn">
    </div>
    <div class="Neshay-User-Card">
        <div class="Neshay-User-Card-Profile-Photo">
        </div>
        <div class="Neshay-User-Card-User-Name">
            <p>Username</p>
        </div>
    </div>
</aside> {% endcomment %}