{% extends "blog/base.html" %}

{% block content %}
<div class="Neshay-Page">
    <h1>PAGE!!!</h1>
    <div class="Neshay-Page-Card">
        <div class="Neshay-Page-Publications">
            <h2>Lorem</h2>
            <div class="Neshay-Page-Publications-Paragraphy">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde consequuntur dolor et accusantium
                    perspiciatis
                    alias quis est facilis aperiam, libero ex quod! Officia ratione fugiat atque. Est cum ex maiores!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde consequuntur dolor et accusantium
                    perspiciatis
                    alias quis est facilis aperiam, libero ex quod! Officia ratione fugiat atque. Est cum ex maiores!
                </p>
            </div>
        </div>
    </div>
    <div class="Neshay-Page-Card">
        <div class="Neshay-Page-Publications">
            <h2>Lorem</h2>
            <div class="Neshay-Page-Publications-Paragraphy">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde consequuntur dolor et accusantium
                    perspiciatis
                    alias quis est facilis aperiam, libero ex quod! Officia ratione fugiat atque. Est cum ex maiores!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde consequuntur dolor et accusantium
                    perspiciatis
                    alias quis est facilis aperiam, libero ex quod! Officia ratione fugiat atque. Est cum ex maiores!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}